body{
    margin: 40px;
}
h1 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.rc-slider-dot-active {  
  border: solid 2px #d0d0f9;
}
.rc-slider-track {  
  border: solid 2px #d0d0f9;
}
.rc-slider-handle {  
  border: solid 2px #d0d0f9;
}
.validator-section{
    float: left;
    width: 350px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:15px;
}
.pos-date-section{
    float: left;
    width: 350px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:15px;
}
.eip1559-section{
    float: left;
    width: 350px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:15px;
}
.input-row{
    height: 170px;
}
.output-row{
    height: 400px;
}