body{
    margin: 20px;
}
h1 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
label {
  font-size: 14px;
}
.rc-slider-dot-active {  
  border: solid 2px #d0d0f9;
}
.rc-slider-track {  
  border: solid 2px #d0d0f9;
}
.rc-slider-handle {  
  border: solid 2px #d0d0f9;
}
.input-section{
    float: left;
    width: 30%;
    padding-bottom:20px;
    padding-left:10px;
    padding-right:10px;
}
.input-row{
    height: 170px;
}
.output-row{
    height: 400px;
}